/* .bcard {

} */

.input {
    padding: 1px;
    margin: auto;
    width: 12%;
    border-radius: 10px;
    border-width: 3px;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    background-color: transparent;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;

   

}

.footer {
    text-align: right;
    color: black;
    outline-color: aliceblue;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
}
.temp {
    color: aliceblue;
}

.card {
    width: 350px;
    height: 400px;
    margin: auto;
    flex-direction: column;
}

.search {
    text-align: center;
    padding-top: 15px;
}

h1 {
    text-align: center;
    padding: 5px;
    color: aliceblue;
    outline-color: black;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}


.box {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: black;
    background-color: rgba(57, 150, 226, 0.55);
    width: 200px;
    padding: 15px;
    gap: 8px;
    transition: transform 0.8s;
    text-align: center;
}

.box:hover {
    transform: scale(1.2);
}

.description {
    color: aliceblue;
}

@media screen and (max-width: 775px) {
    .container, .box {
      display: block;
     

      
      
      
    }
  }